@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Main.cshtml";
}
<!--Hero Image-->
@Html.Partial("Hero Image")
<!--Call To Action-->
@Html.Partial("Call To Action")
<h1>@Model.Value("pageContentText")</h1>

